################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/brdMonitoring/.vs
/brdMonitoring/BRD.Monitoring/bin
/brdMonitoring/BRD.Monitoring/obj
