################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BRD.Monitoring/bin
/BRD.Monitoring/obj
/BRD.Monitoring.Tests/bin/Debug/net5.0
/BRD.Monitoring.Tests/obj
/TestProject1/obj
